.anno-ref-control {
  float: left;
}

.anno-ref-toggle {
  margin-top: 0.25em;
  vertical-align: bottom;
}

.annotator-hl {
  border-radius: 0.25em;
}

.annotator-hl-active {
  padding: 0.25em;
}

.annotator-hl-filtered {
  background: transparent !important;
}

.annotator-viewer .annotator-controls button {
  // Change ambiguous glyphicons back to text buttons
  background: none;
  background-color: #BBB;
  background-image: none;
  border: 0.125em outset #DDD;
  border-radius: 0.375em;
  box-shadow: 0.125em 0.125em 0 rgba(128, 128, 128, 0.5);
  color: #222;
  height: auto;
  opacity: 0.75;
  padding: 0.5em;
  text-indent: 0;
  width: auto;
}

.annotator-viewer .annotator-controls button:active {
  background-color: #AAA;
  box-shadow: none;
}

.annotator-viewer .annotator-controls .annotator-delete {
  background-position: 0 -10.25em;
}

.annotator-viewer .annotator-controls .annotator-edit {
  background-position: 0 -8.25em;
}

.hide {
  display: none;
}

.tag-radios {
  overflow: hidden;
}

.tag-radios label {
  border: 0.125em outset #DDD;
  border-radius: 0.25em;
  box-shadow: 0.125em 0.125em 0 rgba(128, 128, 128, 0.5);
  color: #666;
  font-weight: bold;
  margin: 0.125em;
  padding: 0.5em 0.25em;
  text-shadow: 0 0.0625em 0 rgba(255, 255, 255, 0.5);
}

.tag-radios label.annotation {
  background-color: rgba(255, 255, 0, .3);
}

.tag-radios label.complete {
  background-color: rgba(0, 128, 128, .3);
}

.tag-radios label.correction {
  background-color: rgba(255, 0, 0, .3);
}

.tag-radios label.draft {
  background-color: rgba(0, 128, 0, .3);
}

.tag-radios label.published {
  background-color: rgba(0, 0, 255, .3);
}

.tag-radios label.selected {
  border: 0.125em inset #666;
  box-shadow: none;
  color: #222;
}

.tag-radios label input {
  display: none !important;
}

.tag-radios li {
  float: left;
  list-style: none;
  padding: 0.75em 0;
}


#anno-ref {
  list-style: none;
}
